<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>好货推荐</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/commend.css">
  </head>
  <body>
    <div class="container-fluid">
        <div class="row  navt">
                <div class="col-sm-3 col-xs-0 col-md-3"></div>
                <div class="col-sm-3 col-xs-12 col-md-3">
                    <img src="../img/logo1.png" alt="tasty" >
                </div>
                <div class="col-sm-4 col-xs-12 col-md-4 nav-inp">
                    <form action="">
                            <input type="text" class="nav-inp1" value="请输入菜单"  >
                            <input type="submit" value="搜索" class="nav-inp2">
                    </form>

            </div>
        </div>
    
         <!-- 顶部结尾 -->
       
        <div class="row">
            <div class="col-sm-3 col-xs-0 col-md-3"></div>
            <div class="col-sm-6 col-xs-12 col-md-6 con">
                    <ul class="nav nav-tabs">
                            <li role="presentation" ><a href="#">主页</a></li>
                            <li role="presentation"><a href="#">初秋精选</a></li>
                            <li role="presentation"><a href="#">水果刀</a></li>
                            <li role="presentation"><a href="#">煲汤神器</a></li>
                            <li role="presentation"><a href="#">创意小物</a></li>
                            <li role="presentation"><a href="#">厂家直销</a></li>
                     </ul> 
            </div>
             
            </div>
   


<!-- 缩略图开始 -->
           
                    <div class="row pict">
                            <div class="col-sm-2 col-xs-12 col-md-2"></div>
                            <div class="col-sm-3 col-xs-12 col-md-3 thum">
                              <a href="#" class="thumbnail">
                                <img src="../img/lunbo1.jpg" alt="">
                              </a>
                            </div>
                            <div class="col-xs-12 col-md-3 col-sm-3 thum">
                                <a href="#" class="thumbnail">
                                  <img src="../img/lunbo6.jpg" alt="">
                                </a>
                              </div>
                              <div class="col-xs-12 col-md-3 col-sm-3 thum">
                                <a href="#" class="thumbnail">
                                  <img src="../img/lunbo3.jpg" alt="">
                                </a>
                            </div>
                          </div>

                          <div class="row pict">
                                <div class="col-sm-2 col-xs-12 col-md-2"></div>
                                <div class="col-sm-3 col-xs-12 col-md-3 thum">
                                  <a href="#" class="thumbnail">
                                    <img src="../img/canju1.jpg" alt="">
                                  </a>
                                </div>
                                <div class="col-xs-12 col-md-3 col-sm-3 thum">
                                    <a href="#" class="thumbnail">
                                      <img src="../img/canju4.jpg" alt="">
                                    </a>
                                  </div>
                                  <div class="col-xs-12 col-md-3 col-sm-3 thum">
                                    <a href="#" class="thumbnail">
                                      <img src="../img/canju3.jpg" alt="">
                                    </a>
                                </div>
                              </div>

                              <div class="row pict">
                                    <div class="col-sm-2 col-xs-12 col-md-2"></div>
                                    <div class="col-sm-3 col-xs-12 col-md-3 thum">
                                      <a href="#" class="thumbnail">
                                        <img src="../img/canju5.jpg" alt="">
                                      </a>
                                    </div>
                                    <div class="col-xs-12 col-md-3 col-sm-3 thum">
                                        <a href="#" class="thumbnail">
                                          <img src="../img/canju6.jpg" alt="">
                                        </a>
                                      </div>
                                      <div class="col-xs-12 col-md-3 col-sm-3 thum">
                                        <a href="#" class="thumbnail">
                                          <img src="../img/canju7.jpg" alt="">
                                        </a>
                                    </div>
                                 
                <!-- 以上是缩略图 -->

                    <!-- 轮播图开始 -->
                <div class="row">
                    <div class="col-sm-2 col-xs-2"></div>
                    <div class="col-sm-8 col-xs-8 lunbo">
                            <div id="container">
                                    <ul class="imglist">
                                        <li>
                                            <img src="../img/meishi1.jpg" alt=""  class="pictur"
                                        </li>
                                        <li>
                                            <img src="../img/meishi2.jpg" alt="" class="pictur"
                                        </li>
                                        <li>
                                            <img src="../img/meishi3.jpg" alt="" class="pictur"
                                        </li>
                                        <li>
                                            <img src="../img/meishi4.jpg" alt="" class="pictur"
                                        </li>
                                        <li>
                                            <img src="../img/meishi5.jpg" alt="" class="pictur"
                                        </li>
                                    </ul>
                                    <ul class="btnlist">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                    </div>
                </div>
<!-- 以上是轮播图 -->
            
            </div>
   </div>
    <script src="../js/common.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>