<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录界面</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/common.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>

    <div class="content">
        <div class="title">请登录</div >
        <form action="" id="loginform">
            <input type="text" name="username" id="username" class=" inputk" placeholder="请输入账号">
          
            <span class="span1">账号格式不正确!</span>
            <span class="span3">账号不存在,请先注册!</span>
            <br>
            <input type="password" name="password" id="password" class=" inputk" placeholder="请输入密码">
          
            <span class="span2">密码格式不正确!</span>
            <span class="span4">密码错误!</span>
            <br>
            <input type="btn" name="btn" id="btn" class=" btn" placeholder="登录">
            <input type="btn" name="btn" id="btn" class=" btn" placeholder="注册">
        </form>
    </div>

</body>

</html>