<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户注册</title>
    <link rel="stylesheet" href="./css/reg.css">
    <script src="./js/common.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="col-sm-12  ">
            <h1>用户注册！</h1>
        </div>
        <form class="form-horizontal" action="./regsubmit" method="POST" id="regform">
            <div class="form-group content">
                <label for="username" class="col-sm-2 control-label col-sm-offset-2  introduce">账号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="username" id="username" placeholder="请输入账号">

                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="passwd1" class="col-sm-2 control-label col-sm-offset-2 introduce">密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="passwd1" id="passwd1" placeholder="请输入密码">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="passwd2" class="col-sm-2 control-label col-sm-offset-2 introduce">确认密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="passwd2" id="passwd2" placeholder="请确认密码">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="tel" class="col-sm-2 control-label col-sm-offset-2 introduce">手机号</label>
                <div class="col-sm-6">
                    <input type="tel" class="form-control" name="tel" id="tel" placeholder="请输入手机号">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="tel" class="col-sm-2 control-label col-sm-offset-2 introduce">个人介绍</label>
                <div class="col-sm-6">
                    <textarea name="info" id="info" cols="60" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <div class="checkbox introduce">
                        <label>
                            <input type="checkbox" name="agree" id="agree"> 是否同意《
                            <a href="./">用户注册协议</a>》协议
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button type="button" class="btn btn-default  regbtn " id="btn">提交信息</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>